@import '../../../../styles/variables';

ul {
    float: right;
    li {
        float: left;
        list-style: none;
        padding: 1rem 0.5rem;
        a {
            box-shadow: none;
            color: $primary-color;
            text-decoration: none;
            &:hover {
                color: $secondary-color;
            }
        }
    }
}