@import '../../styles/variables';

.banner{
    max-width: 70rem;
    margin: 0 auto;
    font-weight: 900;
    color: $primary-color;
    padding: 1rem;
    span {
        color: $secondary-color;
    }
    p a {
        font-weight: normal;
        color: $tertiary-color;
        box-shadow: none;
        &:hover {
            color: $secondary-color;
        }
    }
}